config:
  backup: true
  create: true
  banner: false
  check_version: false
  force_chmod: false
  template_dotfile_default: true
  showdiff: false
  longkey: false
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  dotpath: dotfiles
  workdir: ~/.config/dotfiles
  import_variables:
    - uservariables.yaml:optional
  # default_actions:
  # - create_local_file
  cmpignore:
    - "*/README.md"
  upignore:
    - "*/README.md"
  instignore:
    - "*/README.md"
  impignore:
    - "*/README.md"
variables:
  HOME: "{{@@ env['HOME'] @@}}"
  INSTALL_HOME: "{{@@ env['HOME'] @@}}"
  REPO_HOME: "{{@@ env['PWD'] @@}}"
  REPO_SCRIPT_PATH: "{{@@ env['PWD'] @@}}/scripts"
  SSH_CONFIG: "ssh_config"
  GIT_EMAIL_B64: "c2Rjc3dkQGdtYWlsLmNvbQ=="
  GIT_NAME_B64: "RFc="
  GITLAB_EMAIL_B64: "ZGkud2FuZ0BrZWsuanA="
  USE_PROXY: "NO"
  PROXY: ""
  USE_GPG: "NO"
  USE_PYENV: "NO"
  USE_NERD_FONT: "NO"
  GPG_KEY: "DF9D81D26E95ACF5"
  GPG_KEY_GITLAB: "45B834BCEBCDEC22"
  # dir_available: (test -d /tmp/cookiedir || mkdir -p /tmp/cookiedir)
  # use this for saving disk space (really necessary?)
  GIT_DEPTH: "5"
  GIT_INSTALL_SH: "bash {{@@ REPO_SCRIPT_PATH @@}}/git_install.sh {{@@ GIT_DEPTH @@}}"
  FONT_NAME: "SourceCodePro"
  FONT_VERSION: "v3.1.1"
  FONT_RUL: "https://github.com/ryanoasis/nerd-fonts/releases/download/{{@@ FONT_VERSION @@}}/{{@@ FONT_NAME @@}}.tar.xz"
dynvariables:
  # USER: "echo $USER"
  TMUX_VERSION: tmux -V | cut -f 2 -d " "
  GIT_VERSION: git --version | cut -f 3 -d " "
  EPICS_HOST_ARCH: bash {{@@ REPO_SCRIPT_PATH @@}}/epics_host_arch.sh
  GIT_EMAIL: echo "{{@@ GIT_EMAIL_B64 @@}}" | base64 --decode
  GIT_NAME: echo "{{@@ GIT_NAME_B64 @@}}" | base64 --decode
  GITLAB_EMAIL: echo "{{@@ GITLAB_EMAIL_B64 @@}}" | base64 --decode
  GITLAB_NAME: echo "{{@@ GIT_NAME_B64 @@}}" | base64 --decode
  # test_dynvar1: >-
  #   echo "abc" $$
  #   echo "123"
uservariables:
  # this will save user input value to uservariables.yaml
  # GIT_EMAIL: "git_email"
  # GIT_NAME: "git_name"
actions:
  pre:
    install_font:
  post:
    # create_local_file: test -e {{@@ INSTALL_HOME @@}}/.config/common/local.sh && touch {{@@ INSTALL_HOME @@}}/.config/common/local.sh
    # check_and_create: test -e {0} || touch {0}
    check_local_sh: test -e {{@@ INSTALL_HOME @@}}/.config/common/local.sh || touch {{@@ INSTALL_HOME @@}}/.config/common/local.sh
    check_tcsh_local_sh: test -e {{@@ INSTALL_HOME @@}}/.tcshrc.local || touch {{@@ INSTALL_HOME @@}}/.tcshrc.local
    # install_bash_it: test -e {{@@ INSTALL_HOME @@}}/.bash_it || (git clone --depth=1 https://github.com/Bash-it/bash-it.git {{@@ INSTALL_HOME @@}}/.bash_it)
    install_tpm: "{{@@ GIT_INSTALL_SH @@}} https://github.com/tmux-plugins/tpm {{@@ INSTALL_HOME @@}}/.tmux/plugins/tpm"
    install_bash_it: "{{@@ GIT_INSTALL_SH @@}} https://github.com/Bash-it/bash-it.git {{@@ INSTALL_HOME @@}}/.bash_it"
    install_oh_my_zsh: "{{@@ GIT_INSTALL_SH @@}} https://github.com/robbyrussell/oh-my-zsh.git {{@@ INSTALL_HOME @@}}/.oh-my-zsh"
    install_alacritty_theme: "{{@@ GIT_INSTALL_SH @@}} https://github.com/alacritty/alacritty-theme {{@@ INSTALL_HOME @@}}/.config/alacritty/themes"
    # install_libmagic_macos: brew install libmagic
    install_zsh_autosuggestions: "{{@@ GIT_INSTALL_SH @@}} https://github.com/zsh-users/zsh-autosuggestions {{@@ INSTALL_HOME @@}}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    install_zsh_completions: "{{@@ GIT_INSTALL_SH @@}} https://github.com/zsh-users/zsh-completions {{@@ INSTALL_HOME @@}}/.oh-my-zsh/custom/plugins/zsh-completions"
    install_zsh_syntax_highlighting: "{{@@ GIT_INSTALL_SH @@}} https://github.com/zsh-users/zsh-syntax-highlighting {{@@ INSTALL_HOME @@}}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
    install_zsh_history_substring_search: "{{@@ GIT_INSTALL_SH @@}} https://github.com/zsh-users/zsh-history-substring-search {{@@ INSTALL_HOME @@}}/.oh-my-zsh/custom/plugins/zsh-history-substring-search"
    install_pyenv: "{{@@ GIT_INSTALL_SH @@}} https://github.com/pyenv/pyenv.git {{@@ INSTALL_HOME @@}}/.pyenv"
    install_pyenv_virtualenv: "{{@@ GIT_INSTALL_SH @@}} https://github.com/pyenv/pyenv-virtualenv.git {{@@ INSTALL_HOME @@}}/.pyenv/plugins/pyenv-virtualenv"
    # clean_all: rm -rf {{@@ INSTALL_HOME @@}}/.config/alacritty {{@@ INSTALL_HOME @@}}/.oh-my-zsh {{@@ INSTALL_HOME @@}}/.bash_it {{@@ INSTALL_HOME @@}}/.tmux/plugins/tpm {{@@ INSTALL_HOME @@}}/.pyenv

dotfiles:
  d_common:
    src: common
    dst: "{{@@ INSTALL_HOME @@}}/.config/common"
    chmod: "744"
    ignore_missing_in_dotdrop: true
    actions:
      - check_local_sh
  f_pyenv:
    src: pyenv/pyenv.sh
    dst: "{{@@ INSTALL_HOME @@}}/.pyenv.sh"
    chmod: "744"
    actions:
      - install_pyenv
      - install_pyenv_virtualenv
  f_gitconfig:
    src: git/gitconfig
    dst: "{{@@ INSTALL_HOME @@}}/.gitconfig"
    chmod: "600"
  f_gitconfig_gitlab:
    src: git/gitconfig-gitlab
    dst: "{{@@ INSTALL_HOME @@}}/.gitconfig-gitlab"
    chmod: "600"
  f_gitignore:
    src: git/ignore
    dst: "{{@@ INSTALL_HOME @@}}/.config/git/ignore"
    chmod: "644"
  f_vim_theme:
    src: vim/catppuccin_latte.vim
    dst: "{{@@ INSTALL_HOME @@}}/.vim/colors/catppuccin_latte.vim"
    chmod: "644"
  f_vimrc:
    src: vim/vimrc
    dst: "{{@@ INSTALL_HOME @@}}/.vimrc"
    chmod: "644"
  f_tmuxconf:
    src: tmux/tmux.conf
    dst: "{{@@ INSTALL_HOME @@}}/.tmux.conf"
    chmod: "644"
    actions:
      - install_tpm
  f_screenrc:
    src: screen/screenrc
    dst: "{{@@ INSTALL_HOME @@}}/.screenrc"
    chmod: "644"
  f_alacritty:
    src: config/alacritty/alacritty.toml
    dst: "{{@@ INSTALL_HOME @@}}/.config/alacritty/alacritty.toml"
    chmod: "644"
    actions:
      - install_alacritty_theme
  f_zshrc:
    src: zsh/zshrc
    dst: "{{@@ INSTALL_HOME @@}}/.zshrc"
    chmod: "644"
    actions:
      - install_oh_my_zsh
      - install_zsh_autosuggestions
      - install_zsh_completions
      - install_zsh_syntax_highlighting
      - install_zsh_history_substring_search
  f_zshtheme:
    src: zsh/sdcswd.zsh-theme
    dst: "{{@@ INSTALL_HOME @@}}/.oh-my-zsh/custom/themes/sdcswd.zsh-theme"
  f_dotdrop_zsh_comp:
    src: zsh/_dotdrop.sh-completion.zsh
    dst: "{{@@ INSTALL_HOME @@}}/.oh-my-zsh/custom/completions/_dotdrop.sh-completion.zsh"
    link: absolute
  f_bashrc:
    src: bash/bashrc
    dst: "{{@@ INSTALL_HOME @@}}/.bashrc"
    chmod: "644"
    actions:
      - install_bash_it
  f_tcshrc:
    src: tcsh/tcshrc
    dst: "{{@@ INSTALL_HOME @@}}/.tcshrc"
    chmod: "644"
    actions:
      - check_tcsh_local_sh
  f_tcshrc_epics:
    src: tcsh/tcshrc.epics
    dst: "{{@@ INSTALL_HOME @@}}/.tcshrc.epics"
    chmod: "644"
  f_konsole_theme:
    # https://github.com/catppuccin/konsole
    src: konsole/Catppuccin-Latte.colorscheme
    dst: "{{@@ INSTALL_HOME @@}}/.local/share/konsole/Catppuccin-Latte.colorscheme"
    chmod: "644"
  f_xfce4_terminal_theme:
    # https://github.com/catppuccin/xfce4-terminal
    src: xfce4-terminal/catppuccin-latte.colorscheme
    dst: "{{@@ INSTALL_HOME @@}}/.local/share/xfce4/terminal/colorschemes/catppuccin-latte.theme"
    chmod: "644"
  f_locale_conf:
    src: etc/locale.conf
    dst: "{{@@ INSTALL_HOME @@}}/.config/locale.conf"
    chmod: "644"
  f_gpg_conf:
    src: gnupg/gpg.conf
    dst: "{{@@ INSTALL_HOME @@}}/.gnupg/gpg.conf"
    chmod: "600"
  # fake_for_clean:
  #   src:
  #   dst:
  #   actions:
  #     - clean_all

profiles:
  test:
    dotfiles:
      - ALL
    variables:
      INSTALL_HOME: "/tmp"
      USE_PROXY: "YES"
      PROXY: "172.19.64.17:8080"
      USE_PYENV: "YES"
      USE_GPG: "YES"
  basic:
    dotfiles:
      - f_zshrc
      - f_zshtheme
      - f_dotdrop_zsh_comp
      - f_bashrc
      - f_vimrc
      - f_vim_theme
      - f_tmuxconf
      - d_common
  git:
    dotfiles:
      - f_gitconfig
      - f_gitconfig_gitlab
      - f_gitignore
  normal:
    include:
      - basic
      - git

  vps:
    include:
      - basic
    variables:
      # git version may be old on some vps, so do not use shallow clone.
      # re-define GIT_DEPTH
      GIT_DEPTH: "0"
      # we also need this to allow dotdrop to expand again
      GIT_INSTALL_SH: "bash {{@@ REPO_SCRIPT_PATH @@}}/git_install.sh {{@@ GIT_DEPTH @@}}"

  wsl:
    include:
      - basic
      - git
    dotfiles:
      - f_gpg_conf
    variables:
      USE_GPG: "YES"

  raspi:
    include:
      - basic

  server-linac:
    include:
      - basic
      - git
    dotfiles:
      - f_tcshrc
      - f_tcshrc_epics
      - f_screenrc
      - f_pyenv
      - f_alacritty
    variables:
      USE_PROXY: "YES"
      PROXY: "172.19.64.17:8080"
      USE_PYENV: "NO"

  xfce4:
    include:
      - basic
      - git
    dotfiles:
      - f_xfce4_terminal_theme
      - f_alacritty
      - f_locale_conf
    variables:
      USE_NERD_FONT: "NO"

  manjaro:
    include:
      - basic
      - git
    dotfiles:
      - f_konsole_theme
      - f_alacritty
      - f_locale_conf
    variables:
      USE_NERD_FONT: "YES"

  laptop-macos:
    include:
      - basic
      - git
    dotfiles:
      - f_alacritty
      - f_pyenv
      - f_gpg_conf
    # actions:
    # - install_libmagic_macos
    variables:
      USE_PYENV: "NO"
      USE_GPG: "YES"
      USE_NERD_FONT: "YES"
